{% extends 'base.html.twig' %}

{% block title %}New GrrArea{% endblock %}

{% block body %}
    <h1>Create new GrrArea</h1>

    {{ include('grr_area/_form.html.twig') }}

    <a href="{{ path('grr_area_index') }}">back to list</a>
{% endblock %}
