#https://github.com/doctrine/orm/blob/master/.travis.yml
#https://www.cloudways.com/blog/php-continuous-integration-travis-ci/

language: php
php:
  - 7.3

dist: bionic

env:
  - DB=mysql
  #- DB=sqlite

before_install:
 - composer self-update

# Start mysql service
services:
 - mysql

install:
  - composer install
  - cp .env.travis .env
  - php bin/console doctrine:database:create --env=test
  - php bin/console doctrine:schema:create --env=test

script: vendor/bin/simple-phpunit tests/

# Cache composer packages so "composer install" is faster
cache:
  directories:
    - $HOME/.composer/cache