default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
                - behatch:context:browser
                - behatch:context:debug

    extensions:
        FriendsOfBehat\SymfonyExtension: null
