default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FeatureContext
                - App\Tests\Behat\DatabaseContext
                - App\Tests\Behat\DemoContext
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\BrowserContext
                - Behatch\Context\DebugContext
    extensions:
        FriendsOfBehat\SymfonyExtension: null
        Behat\MinkExtension:
            base_url: 'http://sallessf.local'
            browser_name: "chrome"
            javascript_session: selenium2
            symfony: ~
            sessions:
                default:
                    symfony: ~
                selenium2: # fast, CLI, opens up a browser
                    selenium2: ~
        Behatch\Extension: ~
