{% extends 'base.html.twig' %}

{% block title %}GrrSetting index{% endblock %}

{% block body %}
    <h1>GrrSetting index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        {% for grr_setting in grr_settings %}
            <tr>
                <td>
                    <a href="{{ path('grr_setting_show', {'id': grr_setting.id}) }}">{{ grr_setting.name }}</a>
                    </td>
                <td>{{ grr_setting.value }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
