<a href="{{ path('grr_authorization_resource_from_room', { 'room': room.id }) }}" role="button"
   class="btn btn-primary"><i class="fas fa-plus"></i> {{ 'form.btn.new'|trans({}, 'actions') }}</a>

<a href="{{ path('grr_admin_room_show',{'id': room.id}) }}" class="btn btn-primary" role='button'><i
            class="fas fa-list"></i>
    {{ 'room.back.toarea'|trans({}, 'actions') }}
</a>

<br/>
<br/>