<header class="row">

    <div class="col-md-2 col-12">
        {{ grrMenuNavigationRender() }}
    </div>
    <div class="col-md-5 col-12">
        {{ grrMonthNavigationRender() }}
    </div>
    <div class="col-md-5 col-12">

    </div>

</header>