<div class="row d-print-none">

    <div class="col-12 col-lg-2">
        {{ grrMenuNavigationRender() }}
    </div>

    <div class="col-12 col-lg-5">
        {{ grrMonthNavigationRender() }}
    </div>

</div>