<div class="row">
    <div class="col-2">
        {{ grrMenuNavigationRender() }}
    </div>
    <div class="col-5">
        {{ grrMonthNavigationRender() }}
    </div>
    <div class="col-5">

    </div>
</div>