<header class="row">

    <div class="co2l-12 col-lg-2">
        {{ grrMenuNavigationRender() }}
    </div>
    <div class="co2l-12 col-lg-5">
        {{ grrMonthNavigationRender() }}
    </div>

</header>