<a href="{{ grrGenerateRouteMonthView(month.year, month.nextMonth.month) }}" title="{{ 'next.month'|trans({},'actions') }}">
    <i class="fas fa-arrow-right"></i>
</a>
<br />
<a href="{{ grrGenerateRouteMonthView(month.nextYear.year, month.month) }}" title="{{ 'next.year'|trans({},'actions') }}">
    <i class="fas fa-forward"></i>
</a>