{% set classDay = "" %}

{% if daySelected == day.day %}
    {% set classDay = "table-info" %}
{% endif %}

<td class="{{ classDay }}">
    {% if day.isSameMonth(firstDay) %}
        <a href="{{ generateRouteDayView(day.day) }}">{{ day.day }}</a>
    {% endif %}
</td>