<td>
    <span class="text-muted">{{ day.day }}</span>
    <a href="{{ generateRouteAddEntry(day,room) }}" class="float-right" title="{{ 'btn.entry.add.title'|trans }}"> <i
                class="fas fa-plus"></i> </a>

    {% for entry in day.entries %}
        <p>{{ entry.name }}</p>
    {% endfor %}
</td>