<td>
    <a href="{{ generateRouteAddEntry(area.id,1,day.day) }}" class="float-right" title="{{ 'btn.entry.add.title'|trans }}"> <i
                class="fas fa-plus"></i> </a>

    {% for entry in day.entries %}
        <p>
            <a href="{{ path('grr_entry_show', {'id': entry.id}) }}">{{ entry.name }}</a>
        </p>
    {% endfor %}
</td>