<table class="table table-bordered">
    <thead>
    <tr>
        {% for dayName in listDays %}
            <th scope="col">{{ dayName|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for week in weeks %}
        <tr class="">
            {% for day in week.days %}
                {% include '@grr_front/month/_cell_day_data.html.twig' %}
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>
