<div class="container-fluid">
<div class="row">
    {% for dayName in listDays %}
        <div class="col table-bordered text-center font-weight-bold">{{ dayName|trans }}</div>
    {% endfor %}
</div>

{% for week in weeks %}
    <div class="row">
        {% for day in week.days %}
            <div class="col border">
                {% include '@grr_front/month/_cell_day_data.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{{ grrLegendEntryType(area) }}