{% if day.isSameMonth(firstDay) %}
    <a href="{{ grrGenerateRouteDayView(day.day) }}" class="float-right">
        {{ day.day }}
    </a>
{% else %}

{% endif %}

{% for entry in day.entries %}
    {% include '@grr_front/month/_entry_line.html.twig' %}
{% endfor %}
