<td>
    <a href="{{ generateRouteDayView(day.day) }}" class="float-right">
        {{ day.day }}
    </a>

    {% for entry in day.entries %}
        <p>
            <a href="{{ path('grr_front_entry_show', {'id': entry.id}) }}">{{ entry.name }}</a>
        </p>
    {% endfor %}
</td>