<table class="table table-bordered table-sm">
    <thead>
    <tr>
        <th class="text-center">Semaine</th>
        <th scope="col" class="text-center">Lundi</th>
        <th scope="col" class="text-center">Mardi</th>
        <th scope="col" class="text-center">Mercredi</th>
        <th scope="col" class="text-center">Jeudi</th>
        <th scope="col" class="text-center">Vendredi</th>
        <th scope="col" class="text-center">Samedi</th>
        <th scope="col" class="text-center">Dimanche</th>
    </tr>
    </thead>
    <tbody>
    <tr class="">
        <td class="text-muted">
            <a href="/front/weekview/area/1/year/2019/month/10/week/40/room">
                <span class="text-muted">s40</span>
            </a>
        </td>

        <td class="">
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/1/room">1</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/2/room">2</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/3/room">3</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/4/room">4</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/5/room">5</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/6/room">6</a>
        </td>
    </tr>


    <tr class="">
        <td class="text-muted">
            <a href="/front/weekview/area/1/year/2019/month/10/week/41/room">
                <span class="text-muted">s41</span>
            </a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/7/room">7</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/8/room">8</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/9/room">9</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/10/room">10</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/11/room">11</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/12/room">12</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/13/room">13</a>
        </td>
    </tr>


    <tr class="">
        <td class="text-muted">
            <a href="/front/weekview/area/1/year/2019/month/10/week/42/room">
                <span class="text-muted">s42</span>
            </a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/14/room">14</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/15/room">15</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/16/room">16</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/17/room">17</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/18/room">18</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/19/room">19</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/20/room">20</a>
        </td>
    </tr>


    <tr class="">
        <td class="text-muted">
            <a href="/front/weekview/area/1/year/2019/month/10/week/43/room">
                <span class="text-muted">s43</span>
            </a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/21/room">21</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/22/room">22</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/23/room">23</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/24/room">24</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/25/room">25</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/26/room">26</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/27/room">27</a>
        </td>
    </tr>


    <tr class="">
        <td class="text-muted">
            <a href="/front/weekview/area/1/year/2019/month/10/week/44/room">
                <span class="text-muted">s44</span>
            </a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/28/room">28</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/29/room">29</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/30/room">30</a>
        </td>

        <td class="">
            <a href="/front/dayview/area/1/year/2019/month/10/day/31/room">31</a>
        </td>

        <td class="">
        </td>

        <td class="">
        </td>

        <td class="">
        </td>
    </tr>
    </tbody>
</table>
