<div class="row">
    <div class="col-2">
        {{ render(controller('App\\Controller\\NavigationController::menu')) }}
    </div>
    <div class="col-5">
        {{ render(controller('App\\Controller\\NavigationController::month')) }}
    </div>
    <div class="col-5">

    </div>
</div>