{% set dateTime = day.date %}

{% set numericDay = dateTime|date('w') %}

{# premiere ligne #}
{% if loop.first %}

    <td>{{ dateTime | date('W') }}</td>

    {# on remplit les cases vides #}
    {% if numericDay != 1 %}
        {{ completeTr(numericDay, 'begin') }}
    {% endif %}

    {# si lundi 1 #}
{% elseif numericDay == 1 %}
    <td>{{ dateTime | date('W') }}</td>
{% endif %}

<td>{% include 'calendar/navigation/_day_line.html.twig' %}</td>

{# retour a la ligne si dimanche #}
{% if numericDay == 0 %}
    </tr>
<tr>

    {% endif %}

    {# derniere ligne on comble les vide #}
    {% if loop.last %}
    {% if numericDay != 0 %}
        {{ completeTr(numericDay, 'end') }}
    {% endif %}
{% endif %}