{% set numericDay = day|date('w') %}

{# premiere ligne #}
{% if loop.first %}
    {# on remplit les cases vides #}
    {% if numericDay != 1 %}
        {{ completeTr(numericDay, 'begin') }}
    {% endif %}
{% endif %}

<td>{% include 'calendar/navigation/_cell_day.html.twig' %}</td>

{# derniere ligne on comble les vide #}
{% if loop.last %}
    {% if numericDay != 0 %}
        {{ completeTr(numericDay, 'end') }}
    {% endif %}
{% endif %}