{% set dateTime = day.date %}

{% set numericDay = dateTime|date('w') %}

{# premiere ligne #}
{% if loop.first %}

    {% include 'calendar/navigation/_cell_week.html.twig' %}

    {# on remplit les cases vides #}
    {% if numericDay != 1 %}
        {{ completeTr(numericDay, 'begin') }}
    {% endif %}

    {# si lundi 1 #}
{% elseif numericDay == 1 %}
    {% include 'calendar/navigation/_cell_week.html.twig' %}
{% endif %}

<td>{% include 'calendar/navigation/_cell_day.html.twig' %}</td>

{# retour a la ligne si dimanche #}
{% if numericDay == 0 %}
    </tr>
<tr>

    {% endif %}

    {# derniere ligne on comble les vide #}
    {% if loop.last %}
    {% if numericDay != 0 %}
        {{ completeTr(numericDay, 'end') }}
    {% endif %}
{% endif %}