{% extends 'base.html.twig' %}

{% block title %}Edit GrrEntry{% endblock %}

{% block body %}
    <h1>Edit GrrEntry</h1>

    {{ include('grr_entry/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('grr_entry_index') }}">back to list</a>

    {{ include('grr_entry/_delete_form.html.twig') }}
{% endblock %}
