{% extends 'base.html.twig' %}

{% block title %}New GrrEntry{% endblock %}

{% block body %}
    <h1>Create new GrrEntry</h1>

    {{ include('grr_entry/_form.html.twig') }}

    <a href="{{ path('grr_entry_index') }}">back to list</a>
{% endblock %}
