{% extends 'layout_front.html.twig' %}

{% block title %}{{ 'entry.new.title'|trans({},'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'entry.new.title'|trans({},'actions') }}</h1>

    {%   include('entry/_form.html.twig') %}

    <br/>
    <a href="{{ path('grr_entry_index') }}"><i
                class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({}, 'actions') }}</a>
{% endblock %}
