{% extends 'base.html.twig' %}

{% block title %}{{'usermanagerresource.title'|trans}}{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ 'usermanagerresource.title'|trans }}  {{ user_manager_resource.area }}</h3>
        </div>

        <div class="card-body">
            {{ include('security/user_manager_resource/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {% include '@grr_front/account/_select_room_js.html.twig' %}
{% endblock %}