{% extends 'base.html.twig' %}

{% block title %}Edit UserManagerResource{% endblock %}

{% block body %}
    <h1>Edit UserManagerResource</h1>

    {{ include('security/user_manager_resource/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}


{% block scripts %}
    {% include '@grr_front/account/_select_room_js.html.twig' %}
{% endblock %}