{% extends 'base.html.twig' %}

{% block title %}New UserManagerResource{% endblock %}

{% block body %}
    <h1>{{ user_manager_resource.area }} {{ user_manager_resource.room }} {{ user_manager_resource.user }}</h1>

    {{ include('security/user_manager_resource/_form.html.twig') }}


{% endblock %}
