{% extends 'base.html.twig' %}

{% block title %}Edit Periodicity{% endblock %}

{% block body %}
    <h1>Edit Periodicity</h1>

    {{ include('periodicity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('periodicity_index') }}">back to list</a>

    {{ include('periodicity/_delete_form.html.twig') }}
{% endblock %}
