{% extends 'base.html.twig' %}

{% block title %}GrrRepeat{% endblock %}

{% block body %}
    <h1>GrrRepeat</h1>

    <a href="{{ path('grr_repeat_edit', {'id': grr_repeat.id}) }}">edit</a>

    {% include 'grr_repeat/_detail.html.twig' %}

    <a href="{{ path('grr_repeat_index') }}">back to list</a>

    <a href="{{ path('grr_repeat_edit', {'id': grr_repeat.id}) }}">edit</a>

    {{ include('grr_repeat/_delete_form.html.twig') }}
{% endblock %}
