{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}Grr admin{% endblock %}

{% block body %}
    <h3>Grr admin</h3>

    <img src="{{ asset('totem_grr.png') }}" alt="grr">
{% endblock %}
