{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ 'authorization.area.title'|trans }}{% endblock %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ 'authorization.area.title'|trans() }} {{ area }}</h3>
        </div>

        <div class="card-body">
            {% include 'security/authorization/area/_actions.html.twig' %}
            {% include 'security/authorization/_detail_permissions.html.twig' %}
        </div>
    </div>

{% endblock %}
