{% extends 'base.html.twig' %}

{% block title %}New GrrUtilisateurs{% endblock %}

{% block body %}
    <h1>Create new GrrUtilisateurs</h1>

    {{ include('grr_utilisateurs/_form.html.twig') }}

    <a href="{{ path('grr_utilisateurs_index') }}">back to list</a>
{% endblock %}
