# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
  locale: 'fr'
  booking_url: "%env(BOOKING_URL)%"
  booking_token: "%env(BOOKING_TOKEN)%"

services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  App\:
    resource: '../src/*'
    exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

  # controllers are imported separately to make sure services can be injected
  # as action arguments even if you don't extend any base controller class

  App\Security\Ldap\GrrLdap:
      $host: '%env(GRR_LDAP_URL)%'
      $dn: "%env(GRR_LDAP_BASE)%"
      $user: '%env(GRR_LDAP_ADMIN)%'
      $password: '%env(GRR_LDAP_PWD)%'

  App\Doctrine\TablePrefix:
    tags:
      - { name: doctrine.event_subscriber, connection: default }
