<table class="table table-bordered">
    <thead>
    <tr>
        {% for dayName in listDays %}
            <th scope="col">{{ dayName|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for data in datas %}
        {% set week = data.week %}
        {% set class = "" %}
        <tr class="{{ class }}">
            {% for day in data.days %}
                {% include 'calendar/data/_cell_day_data.html.twig' %}
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>
