<table class="table table-bordered">
    <thead>
    <tr>
        {% for dayName in listDays %}
            <th scope="col">{{ dayName|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for week in weeks %}

        {% set class = "" %}
        <tr class="{{ class }}">
            {% for day in week %}
                {% include 'calendar/navigation/_cell_day.html.twig' with { 'day': day } %}
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>
