<ul class="mt-5 list-group list-group-horizontal">
    {% for type in types %}
        <li class="list-group-item" style="background-color: {{ type.color }}">{{ type.name }}</li>
    {% endfor %}
</ul>