<div class="row">
    <div class="col-2">
        {{ form_start(form) }}
        {{ form_row(form.area, {label_attr: {class: 'checkbox-custom'} }) }}
        {{ form_end(form) }}
    </div>
    <div class="col-5">
        {{ navigation|raw }}
    </div>
    <div class="col-5">

    </div>
</div>