{% extends 'layout_front.html.twig' %}

{% block title %}GrrArea index{% endblock %}

{% block body %}

    {% include 'calendar/navigation/_navigation.html.twig' %}

    <h3 class="text-center text-success">{{ current|date('m Y') }}</h3>

    {{ data|raw }}

{% endblock %}

{% block scripts %}
    {% include 'front/_menu_select.js.html.twig' %}
{% endblock %}