{% extends 'base.html.twig' %}

{% block title %}GrrArea index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            {#{ form_row(form.myCheckbox, {label_attr: {class: 'checkbox-custom'} }) }#}

            {{ form(form) }}
        </div>
        <div class="col-9">
            {% include 'front/_calendars.html.twig' %}
        </div>
    </div>
    {% include 'front/_menu_select.js.html.twig' %}
{% endblock %}
