<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            padding-top: 10px;
        }

        [class*="col"], footer, aside {
            background-color: lightblue;
            border: 1px solid blue;
            border-radius: 4px;
            line-height: 40px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
Tout ce qui est supérier à sm se met sur une ligne, sinon ça s'empile
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            2 colonnes
        </div>
        <div class="col-sm-3">
            3 colonnes
        </div>
        <div class="col-sm-7">
            7 colonnes
        </div>
    </div>
</div>

</body>
</html>