{% extends 'base.html.twig' %}

{% block title %}{{ 'New GrrRoom'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'New GrrRoom'|trans}}</h1>

    {{ include('grr_room/_form.html.twig') }}

    <a href="{{ path('grr_room_index') }}">back to list</a>
{% endblock %}
