{% if form.duration.time is defined %}
    <div class="row">
        <div class="col-4">
            {{ form_row(form.duration.time) }}
        </div>
        <div class="col-4">
            {{ form_row(form.duration.unit) }}
        </div>
        <div class="col-4">
            {{ form_row(form.duration.full_day) }}
        </div>
    </div>
{% endif %}