{{ form_start(form) }}


<div class="row">
    <div class="col-6">
        {% include '@grr_front/entry/form/_form_entry.html.twig' %}
    </div>
    <div class="col-6">
        {% include '@grr_front/entry/form/_form_periodicity.html.twig' %}
    </div>
</div>

<button class="btn btn-primary" type="submit" name="submit"><i
            class="far fa-save"></i> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
