{% extends 'base.html.twig' %}

{% block title %}UserManagerResource index{% endblock %}

{% block body %}
    <h1>UserManagerResource index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Is_area_administrator</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_manager_resource in user_manager_resources %}
            <tr>
                <td>{{ user_manager_resource.isAreaAdministrator ? 'Yes' : 'No' }}</td>
                <td>{{ user_manager_resource.id }}</td>
                <td>
                    <a href="{{ path('security_user_manager_resource_show', {'id': user_manager_resource.id}) }}">show</a>
                    <a href="{{ path('security_user_manager_resource_edit', {'id': user_manager_resource.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
