{% extends 'layout_front.html.twig' %}

{% block title %}GrrRepeat{% endblock %}

{% block body %}
    <h1>GrrRepeat</h1>

    <a href="{{ path('grr_repeat_edit', {'id':repeat.id}) }}">edit</a>

    {% include 'repeat/_detail.html.twig' %}

    <a href="{{ path('grr_repeat_index') }}">back to list</a>

    <a href="{{ path('grr_repeat_edit', {'id':repeat.id}) }}">edit</a>

    {{ include('repeat/_delete_form.html.twig') }}
{% endblock %}
