{{ form_start(form) }}
{{ form_widget(form) }}

<button class="btn btn-primary" type="submit"><i class="far fa-save"></i> {{ button_label|default('form.btn.save')|trans({}, 'actions') }}</button>

{{ form_end(form) }}
