<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ email.subject }}</title>
</head>
<body>
hey {{ zeze }}
{{ wra }}
<img src="{{ absolute_url(asset('totem_grr.png')) }}" alt="img">
</body>
</html>